body {
}

.home {
    background-image: url(/Assets/background.png);
    height: 100%;
    width: 100%;
}

.default {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn-init {
}

.cabecalho {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 25px;
}

.bottom {
    background-color: azure;
    border-radius: 4%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 120px;
}

.name {
    margin-bottom: 15px;
}

.divButtons {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.btn-search {
    margin-right: 5px;
}

.btn-clear {
    margin-left: 5px;
}
