body {
}

.register {
    background-image: url(/Assets/background.png);
    height: 100%;
    width: 100%;
}

.default {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn-Register {
    margin: auto;
}

.cabecalho {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.row {
    margin: 50px;
    font-size: 20px;
}

.bottom {
    background-color: azure;
    border-radius: 4%;
    padding: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

.name {
    margin-bottom: 15px;
}
